# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
_media/
0*.py

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
download/
eggs/
.eggs/

# PyInstaller
*.manifest
*.spec

# Pycharm
.idea/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# AI Model
.DS_Store
*.out
pytorch_model.bin