asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Django==3.0.7
django-cors-headers==3.4.0
djangorestframework==3.11.0
filelock==3.0.12
idna==2.10
joblib==0.15.1
jsonfield==3.1.0
numpy==1.19.0
packaging==20.4
pip==20.1.1
pyparsing==2.4.7
pytz==2020.1
regex==2020.6.8
requests==2.24.0
sacremoses==0.0.43
setuptools==47.1.0
six==1.15.0
sqlparse==0.3.1
torch==1.8.0
tqdm==4.47.0
typing-extensions==3.7.4.2
urllib3==1.25.9
gunicorn==20.0.4
psycopg2-binary==2.9.3
